<div class="container mt-5 p-5 shadow-sm bg-light">
  <h1><%= @restaurant.name %></h1>
  <div class="row">
    <h2 class="col-4"><%= @restaurant.address %></h2>
    <h2 class="col-4"><%= @restaurant.phone_number %></h2>
    <h2 class="col-4"><%= @restaurant.category %></h2>
  </div>

  <% @restaurant.reviews.each do |review| %>
    <div class="row mt-5 border-bottom">
      <h2 class="col-10"><%= review.content %></h2>
      <h3 class="col-2"><%= "✰" * review.rating %></h3>
    </div>
    <%=  %>
  <% end %>

  <%= link_to "Review", new_restaurant_review_path(@restaurant), class: "btn btn-success mt-5" %>
  <%= link_to "Back", restaurants_path, class: "btn btn-light mt-5"%>
</div>
